.card {
  width: auto;
  margin: 8px;
  word-wrap: break-word;
  padding: 2px;
  color: rgb(213, 208, 208);
  padding-bottom: 15px;
  box-shadow: 2px 4px 7px rgba(0, 0, 0, 0.8);
  border-radius: 14px;
  background-color: #171718;
}
.radio:checked {
  accent-color: rgb(241, 198, 119);
}
.order {
  margin-top: 20px;
  height: 27px;
}
.conta {
  margin: 5px;
  display: grid;
  width: auto;
  grid-row-gap: 7px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
.conta2 {
  margin: 5px;
  display: grid;
  margin-top: 15px;
  width: auto;
  grid-row-gap: 7px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
input {
  border-radius: 10px;
  outline: none;
  text-align: center;
  font-size: 14px;
  padding: 1.5px;
  font-weight: bold;
  border: none;
  background-color: rgb(134, 129, 119);
  margin-top: 6px;
}
input::placeholder {
  color: rgb(37, 37, 37);
}
.addin {
  border: 3px solid black;
  height: 30px;
  background-color: rgb(197, 195, 195);
  margin-left: 150px;
}

.sub {
  border-radius: 5px;
  margin-bottom: 15px;
  font-size: 20px;
  border: none;
  height: 33px;
  margin-left: 120px;
  color: white;
  background-color: #333;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.8);
}
.val {
  border-radius: 5px;
  margin-top: 24px;
  font-size: 20px;
  border: none;
  height: 33px;
  margin-left: 20px;
  color: white;
  background-color: #333;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.8);
}
.name {
  color: rgb(238, 214, 170);
}
.btnh {
  border-radius: 5px;
  margin-bottom: 15px;
  margin-right: 50px;
  width: 90px;
  font-size: 20px;
  border: none;
  height: 33px;
  color: white;
  background-color: #333;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.8);
}
.succ {
  height: 20px;
}

.btnh:hover,.val:hover,.sub:hover{
  animation: bump 300ms ease-out;
}

@media screen and (max-width: 1520px) {
  .conta,
  .conta2 {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  }
}

@keyframes bump {
  0% {
    transform: scale(1);
  }
  10% {
    transform: scale(0.9);
  }
  30% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1.15);
  }
  100% {
    transform: scale(1);
  }
}